Package: com.matrix.aegis
Name: Matrix Nebula Aegis
Version: 4.0.0
Architecture: iphoneos-arm
Description: Advanced iOS debug framework
Maintainer: MatrixTeam
Author: MatrixTeam
Section: Tweaks
Depends: firmware (>= 13.0), mobilesubstrate
